<<<<<<< HEAD

.custom-container{
    width: 100%!important;
    margin:0 auto;
}
/* top-selection:START */
.top-selection{
 border-bottom: 1px solid rgba(0,0,0,0.23);
}
.top-selection .form-alpha{
    width: 5%;   
     display: flex;
    justify-content: center;
    align-items: center;    
    border-right:  1px solid rgba(0,0,0,0.23);
}
.top-selection .form-alpha h1{
    margin: 27px 21px;
}
.top-selection .top-selection-text{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-selection .top-selection-text h2{ 
    margin: 0px;
}
.top-selection .cross-crass{
    width: 5%;
     display: flex;
    justify-content: center;
    align-items: center;
}
 /* top-selection:END */
 /*nav:START*/
 .nav .to-make-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
 }
.nav .to-make-center .personal,.nav .to-make-center .commercial{
    font-size: 26px;
    font-weight: 500;
}
.nav .to-make-center .personal{
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.6;
}
.nav .to-make-center .personal:hover{
    opacity: 1;
}
.nav .to-make-center .personal .hover-bottom{
    border-bottom: 2px solid Transparent;

}
.nav .to-make-center .personal:hover .hover-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.nav .to-make-center .personal .hover-bottom div{
    border-bottom: 2px solid Transparent;
    width: 40px;
}
.nav .to-make-center .personal:hover .hover-bottom div{
    border-bottom: 2px solid #283591;
    width: 40px;
}

.nav .to-make-center .commercial{
    margin-left: 10px;
}
.nav .to-make-center .commercial .border-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.nav .to-make-center .commercial .border-bottom div{
    border-bottom: 2px solid #283591;
    width: 40px;
}
/*nav:END*/
/*card:START*/

.card{
    border:none;
}
.card .make-inline{
    display: inline-flex;
    box-shadow: 0 0px 18px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
border-radius: 5px;
}
.card .make-inline .col-3{
    padding: 0px;
    margin:0px;
}
.card .make-inline .col-3:nth-child(odd){

}
.card .whole-card{
@font-face {
    font-family: UniSansCAPS;
    src: url(../font/UniSansThin.otf);
}
@font-face {
    font-family: AvenirNext;
    src: url("../font/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: UniSansCAPSitalic;
    src: url(../font/UniSansHeavyItalic.otf);
}
@font-face {
    font-family: UniSansCAPSheavy;
    src: url(../font/UniSansHeavy.otf);
}
@font-face {
    font-family: UniSansCAPSthinitalic;
    src: url(../font/UniSansThinItalic.otf);
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Source Serif Pro', serif;
}
.custom-con{
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.con{
 width: 96%;
}

.custom-row {
    margin-top: 25px;
}
.bench{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
        border: 2px solid #cea265;
    width: 50px;
}
.bench h2{
        margin-bottom: 0px;
    font-weight: bold;
    margin-top: 20px;
}
.bench h5{
    margin-top: 0px;
}
.outer-1{
    background-image: url(../Assets/pic-1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        height: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #283591;
}
.outer-2{
    background-image: url(../Assets/pic-2.jpg);
>>>>>>> 684eacd090b0d9a6d04c9fe49d76687be2084e83
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
        height: 211px;
        border-right:1px solid #DEE0E3;
        border-bottom: 1px solid #DEE0E3;
}

.card .whole-card:hover {
    background-color: #283591;

}

.card .whole-card i,.card .whole-card h2{
    color:#283591;
}
.card .whole-card:hover i,.card .whole-card:hover h2{
    color: white;
}
.card .whole-card p{
    color: #bca673;   
}
.card .whole-card:hover p{
    color: white;   
}

/*
        height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
*/}
.custom-con-1{
   width: 1334px !important;
    margin-top: 20px;
}
.custom-col-6{
    padding: 0px;
}

.outer-1 h1{
    text-align: center;
}
.outer-2 h1{
    text-align: center;
}
.button-1{
    color: white;
    background-color: #283591;
    padding: 7px 35px 0px;
    border: 1px solid #283591;
    border-radius: 25px;
}
.button-2{
    color: #283591;
    background-color: white;
    padding: 7px 35px 0px;
    border: 1px solid white;
    border-radius: 25px;
}
.custom-con-2{
      width: 1349px !important;
    display: flex;
    justify-content: center;
    padding: 75px;
    background-color: #eceeef;
}
.custom-con-3{
      width: 1349px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
>>>>>>> 684eacd090b0d9a6d04c9fe49d76687be2084e83
